@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.animate-blink {
    animation: blink 1s infinite;
}
:root {
    background-color: black;
}

html,
body,
#root {
height: 100%;
min-height: 100vh;
background-color: black;
margin: 0;
padding: 0;
overflow-x: hidden;
}

* {
box-sizing: border-box;
}

/* Add to global.css */
:root {
    background-color: black;
}

html, body {
    height: -webkit-fill-available;
    overscroll-behavior-y: none;
  }
  
  #root {
    height: 100vh;
    height: -webkit-fill-available;
  }

/* Only needed for iOS height calculations */
@supports (-webkit-touch-callout: none) {
    .h-screen {
        height: -webkit-fill-available;
    }
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}